body{
    background-image:linear-gradient(#FFD073,#6C8CD5,#5CCCCC);
}

.paint{
    border-radius: 40%;
    opacity: 1;
}

nav a{
    text-decoration: none;
    color: #8B4513;
    font-size: 20px;
    font-family: ARIAL BLACK;
}

nav a:hover{
    font-size: 25px;
    color:rgb(97, 53, 13);
}
nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
}
h1{
    color: #CD853F;
    font-family: ARIAL BLACK;
    text-align: center;
}
.info p{
    font-family: ARIAL BLACK;
    font-size: 15px;
    color: #0b0b0b;
    border-left: 5px solid #CD853F;
    padding-left: 5px;
}
img{
    opacity: 0.5;
    width:100%;
}
img:hover{
    opacity: 1;
}

.paint:hover{
    transform: scale(1.5);
    transition: all 3s linear;
}

td{
    border:3px solid black;
}

table{
    border-collapse:collapse ;
    font-family: arial black;
    font-size: 15px;
}
table tr:first-child {
    background-color: #e6ac0b;
}
